body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.counters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.counters span {
  font-size: 1.2em;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 10px;
}

.column h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: blue;
}

.text-center {
  text-align: center !important;
}

.tasks .card {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.tasks .card p {
  margin-top: 5px;
  font-size: 0.8em;
}

.card input[type="checkbox"] {
  margin-right: 5px;
}

.card span {
  font-weight: bold;
}

.btn-primary {
  font-size: 1em;
}

/* Adição para garantir que as tarefas não quebrem para a próxima linha */
.tasks {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 100%;
  margin-bottom: 10px;
}

  .edit-icon,
  .delete-icon {
  display: inline-block;
  margin-left: 260px;
  cursor: pointer;
}

.edit-icon i, .delete-icon i {
  font-size: 1.5em;
}

.edit-icon i {
  color: #007bff; /* Cor azul para o ícone de editar */
}

.delete-icon i {
  color: #dc3545; /* Cor vermelha para o ícone de excluir */
}

/* Adição para garantir que as tarefas não quebrem para a próxima linha */
.tasks {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 100%;
  margin-bottom: 10px;
}

/* Novas regras de mídia para telas menores (mobile) */
@media (max-width: 767px) {
  .columns {
    flex-direction: column;
    margin: 0;
  }

  .column {
    margin: 0;
    margin-bottom: 20px;
  }

  .edit-icon,
  .delete-icon {
    margin-left: 0;
    margin-top: 10px;
  }

  .edit-icon i,
  .delete-icon i {
    font-size: 1.2em;
  }

  .header h1 {
    font-size: 1.5em;
  }

  .counters span {
    font-size: 1em;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Ajuste a posição vertical conforme necessário */
  right: 20px; /* Ajuste a posição horizontal conforme necessário */
  z-index: 1000; /* Para garantir que o botão fique acima de outros elementos */
}

.whatsapp-button a {
  display: block;
  width: 60px; /* Largura do botão */
  height: 60px; /* Altura do botão */
  background-color: #fff; /* Cor de fundo do botão */
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.whatsapp-button a img {
  width: 40px; /* Largura do ícone do WhatsApp */
  height: 40px; /* Altura do ícone do WhatsApp */
}

.whatsapp-button a:hover {
  background-color: #fff; /* Cor de fundo do botão ao passar o mouse */
}