body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.counters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.counters span {
  font-size: 1.2em;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 10px;
}

.column h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: blue;
}

.text-center {
  text-align: center !important;
}

.tasks .card {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.tasks .card p {
  margin-top: 5px;
  font-size: 0.8em;
}

.card input[type="checkbox"] {
  margin-right: 5px;
}

.card span {
  font-weight: bold;
}

.btn-primary {
  font-size: 1em;
}

/* Adição para garantir que as tarefas não quebrem para a próxima linha */
.tasks {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 100%;
  margin-bottom: 10px;
}

  .edit-icon,
  .delete-icon {
  display: inline-block;
  margin-left: 260px;
  cursor: pointer;
}

.edit-icon i, .delete-icon i {
  font-size: 1.5em;
}

.edit-icon i {
  color: #007bff; /* Cor azul para o ícone de editar */
}

.delete-icon i {
  color: #dc3545; /* Cor vermelha para o ícone de excluir */
}